{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>{%block title%} {% endblock title%}</title>
</head>
<body>
    <header>
        <a href="{% url 'home'%}">Django Blogs</a>
        <a href="{%url 'new_post'%}">Add New Post</a>
        {%block option %} {%endblock option %}
    </header>
    {% if user.is_authenticated %}
    <p>Hi {{user.username}}</p>
    <a href="{% url 'logout'%}">Logout</a>
    {% else %}
    <p>Youre not logged in.</p>
    <a href="{% url 'login'%}">Log In</a>
    <a href="{% url 'signup'%}">Sign Up</a>
    {% endif %}
    {%block body %}

    {% endblock body%}
</body>
</html>